/* sidenav menu overwrite */
.sb-sidenav-menu {
    scrollbar-width: thin;
}

/* overwrite scrollbar */
html {
    scrollbar-width: thin;
}

/* overwrite form label  */
.form-group {
    font-size: 12px;
}

/* Notification */
.notify {
    /* defaults */
    --notify-error: #eb5757;
    --notify-success: #6fcf97;
    --notify-warning: #f2c94c;
    --notify-gray: #333333;
    --notify-gray-2: #4d4d4d;
    --notify-gray-3: #828282;
    --notify-white: #fff;
    --notify-white-2: rgba(255, 255, 255, 0.8);
    --notify-padding: 0.75rem;
    --notify-icon-size: 32px;
    --notify-close-icon-size: 16px;
}

.hoverBt {
    background: red !important;
}